<div class="services">
		<h1 class="text-center">OUR SERVICES</h1>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
<p class="text-justify">This is a purely volunteer service.
  We make no guarantees, implied or otherwise, that when you file a report about a missing person in your family we will find him or her.
  However, we do promise that we will do our utmost and pursue all open avenues because we care.</p>
    </div>
  </div>
</div>
