<div class="about">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p class="text-center">Our role is to enable police around Nepal to work together to make the our country a safer place.
        Our high-tech infrastructure of technical and operational support helps meet the growing challenges of fighting crime in the 21st century.
      </p>
      <p>This combined framework helps police on the ground understand crime trends, analyse information, conduct operations and, ultimately,
</p>
    </div>
  </div>
</div>
