// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about{
  margin-top: 50px;
}
 .about p{
    font-family: cambria;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
  }

  .about h1{
  	font-family: cambria;
  	font-size: 28px;
  	font-weight: bold;
  }